*{
    overflow-x: hidden;
    overflow-y:auto;
}
.Navbar{
    margin: 0.5% 0%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.burger-logo{
    margin: 0px 25px;
    list-style: none;
}
.Navname{
    display: flex;
    flex-direction: row;
}
ul li{
    margin: 5px 30px;
    list-style: none;
}
.Searchbar{
    margin: 0% 0.5%;
    border: 1px solid black;
    width: 94.5%;
}
.Search-btn{
    margin: 0px 0px 0px -6px;
}
.filter-btn{
    margin: 0.5% 0.5% 0% 0.5%;
}
.Cardcontainer{
    display: grid;
    margin: 0.5% 0.5%;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    gap: 15px; 

}
.Card{
    border: 2px solid black;
    background-color: rgb(200, 200, 200);
    margin: 0%;
    padding: 0%;
}
.cuisines{
    display: block;
    width: 222px;           
    white-space: nowrap;    
    text-overflow: ellipsis; 
    overflow: hidden;   
}
.resName{
    display: block;
    width: 222px;           
    white-space: nowrap;    
    text-overflow: ellipsis; 
    overflow: hidden;   
}
.shimmer-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shimmer-header{
    display: flex;
    justify-content: space-between;
    height: 63.6px;
    width: 100%;
    background-color:rgb(230, 230, 230);
    border: none;
}
.shimmer-searchbar{
    display: flex;
    justify-content: space-between;
    border:none;
    background-color:rgb(230, 230, 230);
    height: 21.6px;
    width: 99%;
    margin: 0% 0.5%;
}
.shimmer-btn{
    border: none;
    height: 21.3px;
    width: 151.53px;
    margin: 0.5% 0.5% 0% 0.5%;
}
.shimmercard{
    background-color: rgb(230, 230, 230);
    height: 400px;
    width: 235px;
    margin: 0.5%;
}
.menupage_parent_div{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}
.menupage_child_div{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.menupage_foodinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}